<template name="view_employees">
	<nav class="navbar navbar-default navcustom">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Employees</a>
	    </div>
	     <ul class="nav navbar-nav">
	        <li><button class="btn btn-danger btn-sm" onclick="Router.go('create-employee')">Create</button></li>
	        
	      </ul>
	  </div>
	</nav>

	<div class="row">
		<div class="col-lg-12">
			<div class="container-fluid">

			<div class="col-lg-4">
				<div class="container-fluid">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="profile-pic col-xs-4">
								<img src="/images/1.jpg">
							</div>
							<div class=" col-xs-8">
								<strong>Frank Bramson</strong>
								<div class="details">
									<p>(frankbramson@gmail.com)</p>
									<p>Software Developer</p>
									<p><span class="label label-primary"><i class="fa fa-envelope"> 0</i></span> <span class="label label-primary"><i class="fa fa-user"> 0</i></span></p>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<a href="#" class="btn btn-primary btn-sm pull-right">Follow</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="container-fluid">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="profile-pic col-xs-4">
								<img src="/images/2.jpg">
							</div>
							<div class=" col-xs-8">
								<strong>Ernest Underhill</strong>
								<div class="details">
									<p>(ernestunderhill@gmail.com)</p>
									<p>Software Developer</p>
									<p><span class="label label-primary"><i class="fa fa-envelope"> 0</i></span> <span class="label label-primary"><i class="fa fa-user"> 0</i></span></p>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<a href="#" class="btn btn-primary btn-sm pull-right">Follow</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="container-fluid">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="profile-pic col-xs-4">
								<img src="/images/3.jpg">
							</div>
							<div class=" col-xs-8">
								<strong>Gord Emerson</strong>
								<div class="details">
									<p>(gordemerson@gmail.com)</p>
									<p>Software Developer</p>
									<p><span class="label label-primary"><i class="fa fa-envelope"> 0</i></span> <span class="label label-primary"><i class="fa fa-user"> 0</i></span></p>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<a href="#" class="btn btn-primary btn-sm pull-right">Follow</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="container-fluid">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="profile-pic col-xs-4">
								<img src="/images/4.png">
							</div>
							<div class=" col-xs-8">
								<strong>Linnette Miller</strong>
								<div class="details">
									<p>(linettemiller@gmail.com)</p>
									<p>QA Analyst</p>
									<p><span class="label label-primary"><i class="fa fa-envelope"> 0</i></span> <span class="label label-primary"><i class="fa fa-user"> 0</i></span></p>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<a href="#" class="btn btn-primary btn-sm pull-right">Follow</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="container-fluid">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="profile-pic col-xs-4">
								<img src="/images/5.png">
							</div>
							<div class=" col-xs-8">
								<strong>Lorie Royle</strong>
								<div class="details">
									<p>(lorieroyle@gmail.com)</p>
									<p>QA Analyst</p>
									<p><span class="label label-primary"><i class="fa fa-envelope"> 0</i></span> <span class="label label-primary"><i class="fa fa-user"> 0</i></span></p>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<a href="#" class="btn btn-primary btn-sm pull-right">Follow</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="container-fluid">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="profile-pic col-xs-4">
								<img src="/images/6.png">
							</div>
							<div class=" col-xs-8">
								<strong>Lina Spears</strong>
								<div class="details">
									<p>(linaspears@gmail.com)</p>
									<p>Web Designer</p>
									<p><span class="label label-primary"><i class="fa fa-envelope"> 0</i></span> <span class="label label-primary"><i class="fa fa-user"> 0</i></span></p>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<a href="#" class="btn btn-primary btn-sm pull-right">Follow</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-lg-4">
				<div class="container-fluid">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="profile-pic col-xs-4">
								<img src="/images/7.jpg">
							</div>
							<div class=" col-xs-8">
								<strong>Dwight Blake</strong>
								<div class="details">
									<p>(dwightblake@gmail.com)</p>
									<p>Web Designer</p>
									<p><span class="label label-primary"><i class="fa fa-envelope"> 0</i></span> <span class="label label-primary"><i class="fa fa-user"> 0</i></span></p>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<a href="#" class="btn btn-primary btn-sm pull-right">Follow</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="container-fluid">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="profile-pic col-xs-4">
								<img src="/images/8.jpg">
							</div>
							<div class=" col-xs-8">
								<strong>Harold Chase</strong>
								<div class="details">
									<p>(haroldchase@gmail.com)</p>
									<p>Project Manager</p>
									<p><span class="label label-primary"><i class="fa fa-envelope"> 0</i></span> <span class="label label-primary"><i class="fa fa-user"> 0</i></span></p>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<a href="#" class="btn btn-primary btn-sm pull-right">Follow</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-lg-4">
				<div class="container-fluid">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="profile-pic col-xs-4">
								<img src="/images/9.png">
							</div>
							<div class=" col-xs-8">
								<strong>Garnett Bradford</strong>
								<div class="details">
									<p>(garnetbradford@gmail.com)</p>
									<p>Security Consultant</p>
									<p><span class="label label-primary"><i class="fa fa-envelope"> 0</i></span> <span class="label label-primary"><i class="fa fa-user"> 0</i></span></p>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<a href="#" class="btn btn-primary btn-sm pull-right">Follow</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>



			</div>
		</div>
	</div>
	
</template>