<template name="appraisal-plans">
<div class="expenses-wrapper">
	<div class="page-title">
		<div class="title col-sm-3">Appraisal Plans</div>
		<div class="col-sm-9 btn-group" style="margin-top:5px;">
		    <a href="#" class="btn btn-danger btn-sm">create</a>
		    <a href="#" class="btn btn-default btn-sm">import</a>
		  </div>
	</div>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th><input type="checkbox"></th>
      <th>Appraisal Plan</th>
      <th>First Appraisal in (months)</th>
      <th>Periodicity of Appraisal (months)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox"></td>
      <td>General Appraisal</td>
      <td>6</td>
      <td>12</td>
    </tr>
     <tr>
      <td><input type="checkbox"></td>
      <td>360 degree appraisal</td>`
      <td>6</td>
      <td>2</td>
    </tr>
     <tr>
      <td><input type="checkbox"></td>
      <td>Technological Performance Appraisal</td>
      <td>6</td>
      <td>12</td>
    </tr>
     <tr>
      <td><input type="checkbox"></td>
      <td>Employee Self-Assessment</td>
      <td>6</td>
      <td>12</td>
    </tr>
     <tr>
      <td><input type="checkbox"></td>
      <td>Manager Performance Appraisal</td>
      <td>6</td>
      <td>24</td>
    </tr>
     <tr>
      <td><input type="checkbox"></td>
      <td>Project Evaluation Review</td>
      <td>12</td>
      <td>24</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Sales Performance Appraisal</td>
      <td>12</td>
      <td>24</td>
    </tr>
  </tbody>
</table>
</div>
</template>