<template name="expense-categories">
	<div class="page-title">
		<div class="title col-sm-3">Expense Categories</div>
		<div class="col-sm-9 btn-group" style="margin-top:5px;">
		    <a href="#" class="btn btn-danger btn-sm">create</a>
		    <a href="#" class="btn btn-default btn-sm">import</a>
		  </div>
	</div>
	<div class="expense-categories-wrapper">
		<div class="expense-item row">
			<div class="col-sm-4">
				<img src="/images/no-image.png" style="border-radius:100%;">
			</div>
			<div class="col-sm-8">
				<div class="title">Computer</div>
				<div>Price: Php 20,000.00</div>
			</div>
		</div>
		<div class="expense-item row">
			<div class="col-sm-4">
				<img src="/images/no-image.png" style="border-radius:100%;">
			</div>
			<div class="col-sm-8">
				<div class="title">School Supplies</div>
				<div>Price: Php 1,000.00</div>
			</div>
		</div>
		<div class="expense-item row">
			<div class="col-sm-4">
				<img src="/images/no-image.png" style="border-radius:100%;">
			</div>
			<div class="col-sm-8">
				<div class="title">Desk</div>
				<div>Price: Php 50,000.00</div>
			</div>
		</div>
		<div class="expense-item row">
			<div class="col-sm-4">
				<img src="/images/no-image.png" style="border-radius:100%;">
			</div>
			<div class="col-sm-8">
				<div class="title">Chairs</div>
				<div>Price: Php 20,000.00</div>
			</div>
		</div>
		<div class="expense-item row">
			<div class="col-sm-4">
				<img src="/images/no-image.png" style="border-radius:100%;">
			</div>
			<div class="col-sm-8">
				<div class="title">Television</div>
				<div>Price: Php 100,000.00</div>
			</div>
		</div>
		<div class="expense-item row">
			<div class="col-sm-4">
				<img src="/images/no-image.png" style="border-radius:100%;">
			</div>
			<div class="col-sm-8">
				<div class="title">Laptop</div>
				<div>Price: Php 80,000.00</div>
			</div>
		</div>
		<div class="expense-item row">
			<div class="col-sm-4">
				<img src="/images/no-image.png" style="border-radius:100%;">
			</div>
			<div class="col-sm-8">
				<div class="title">Airconditioner</div>
				<div>Price: Php 150,000.00</div>
			</div>
		</div>
		<div class="expense-item row">
			<div class="col-sm-4">
				<img src="/images/no-image.png" style="border-radius:100%;">
			</div>
			<div class="col-sm-8">
				<div class="title">Xexrox Machine</div>
				<div>Price: Php 5,000.00</div>
			</div>
		</div>
		<div class="expense-item row">
			<div class="col-sm-4">
				<img src="/images/no-image.png" style="border-radius:100%;">
			</div>
			<div class="col-sm-8">
				<div class="title">Printer</div>
				<div>Price: Php 30,000.00</div>
			</div>
		</div>
	</div>
</template>