<template name="expenses">
<div class="expenses-wrapper">
	<div class="page-title">
		<div class="title col-sm-2">Expenses</div>
		<div class="col-sm-10 btn-group" style="margin-top:5px;">
		    <a href="#" class="btn btn-danger btn-sm">create</a>
		    <a href="#" class="btn btn-default btn-sm">import</a>
		  </div>
	</div>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th><input type="checkbox"></th>
      <th>Employee</th>
      <th>Date</th>
      <th>Description</th>
      <th>Total Amount</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox"></td>
      <td>Des Nigellus</td>
      <td>January 2, 2016</td>
      <td>Compensation for non-production employees</td>
      <td>Php 132,033.00</td>
      <td>New</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Xander Faron</td>
      <td>January 3, 2016</td>
      <td>Benefits for non-production employees</td>
      <td>Php 45,756.00</td>
      <td>New</td>
    </tr>
    <tr class="info">
      <td><input type="checkbox"></td>
      <td>Trey Cyrus</td>
      <td>February 2, 2016</td>
      <td>Depreciation of fixed assets assigned to non-production areas</td>
      <td>Php 12,456.00</td>
      <td>New</td>
    </tr>
    <tr class="success">
      <td><input type="checkbox"></td>
      <td>Masterman Benton</td>
      <td>January 12, 2016</td>
      <td>Rent costs for non-production facilities</td>
      <td>Php 100,030.00</td>
      <td>New</td>
    </tr>
    <tr class="danger">
      <td><input type="checkbox"></td>
      <td>Wilfred Isaac</td>
      <td>February 22, 2016</td>
      <td>Repair costs for non-production facilities</td>
      <td>Php 312,200.00</td>
      <td>New</td>
    </tr>
    <tr class="warning">
      <td><input type="checkbox"></td>
      <td>Frank Sequoia</td>
      <td>January 25, 2016</td>
      <td>Sales material costs (such as brochures)</td>
      <td>Php 14,890.00</td>
      <td>New</td>
    </tr>
    <tr class="active">
      <td><input type="checkbox"></td>
      <td>Whitney Evander</td>
      <td>January 9, 2016</td>
      <td>Repair of production equipment and facilities</td>
      <td>Php 12,000.00</td>
      <td>New</td>
    </tr>
  </tbody>
</table>
</div>
</template>