<template name="view_job_positions">
	<nav class="navbar navbar-default navcustom">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Job Positions</a>
	    </div>
	     <ul class="nav navbar-nav">
	        <li><button class="btn btn-danger btn-sm">Create</button></li>
	        
	      </ul>
	  </div>
	</nav>

	<div class="row">
		<div class="col-lg-12">
			<div class="container-fluid">

			<div class="col-lg-4">
				<div class="container-fluid">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-xs-12">
								<div class="job-position-details">
									<h4>Project Manager <span class="label label-default pull-right">4</span></h4>
									<p class="text-muted">Research and Development</p>
									<div class="text-center">
										<span><span class="label label-success pull-left">1</span><strong>Hired Employees</strong><span class="pull-right label label-primary">2</span></span>
									</div>
									<div class="progress progress-striped active">
									  <div class="progress-bar" style="width: 40%"></div>
									</div>							
								</div>
							</div>
						</div>
						<div class="panel-footer">
						<div class="btn-group pull-right">
							<a href="#" class="btn btn-primary btn-sm">Recruitment Done</a>
							<a href="#" class="btn btn-default btn-sm">Print Interview</a>
						</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="container-fluid">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-xs-12">
								<div class="job-position-details">
									<h4>Web Developer <span class="label label-default pull-right">6</span></h4>
									<p class="text-muted">Research and Development</p>
									<div class="text-center">
										<span><span class="label label-success pull-left">4</span><strong>Hired Employees</strong><span class="pull-right label label-primary">10</span></span>
									</div>
									<div class="progress progress-striped active">
									  <div class="progress-bar" style="width: 40%"></div>
									</div>							
								</div>
							</div>
						</div>
						<div class="panel-footer">
						<div class="btn-group pull-right">
							<a href="#" class="btn btn-primary btn-sm">Recruitment Done</a>
							<a href="#" class="btn btn-default btn-sm">Print Interview</a>
						</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="container-fluid">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-xs-12">
								<div class="job-position-details">
									<h4>Human Resource Manager <span class="label label-default pull-right">1</span></h4>
									<p class="text-muted">Research and Development</p>
									<div class="text-center">
										<span><span class="label label-success pull-left">1</span><strong>Hired Employees</strong><span class="pull-right label label-primary">1</span></span>
									</div>
									<div class="progress progress-striped active">
									  <div class="progress-bar progress-bar-success" style="width: 100%"></div>
									</div>							
								</div>
							</div>
						</div>
						<div class="panel-footer">
						<div class="btn-group pull-right">
							<a href="#" class="btn btn-primary btn-sm">Recruitment Done</a>
							<a href="#" class="btn btn-default btn-sm">Print Interview</a>
						</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="container-fluid">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-xs-12">
								<div class="job-position-details">
									<h4>Business Development Manager <span class="label label-default pull-right">5</span></h4>
									<p class="text-muted">Sales</p>
									<div class="text-center">
										<span><span class="label label-success pull-left">0</span><strong>Hired Employees</strong><span class="pull-right label label-primary">1</span></span>
									</div>
									<div class="progress progress-striped active">
									  <div class="progress-bar" style="width: 0%"></div>
									</div>							
								</div>
							</div>
						</div>
						<div class="panel-footer">
						<div class="btn-group pull-right">
							<a href="#" class="btn btn-primary btn-sm">Recruitment Done</a>
							<a href="#" class="btn btn-default btn-sm">Print Interview</a>
						</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="container-fluid">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-xs-12">
								<div class="job-position-details">
									<h4>Trainee <span class="label label-default pull-right">15</span></h4>
									<p class="text-muted"></p>
									<div class="text-center">
										<span><span class="label label-success pull-left">5</span><strong>Hired Employees</strong><span class="pull-right label label-primary">6</span></span>
									</div>
									<div class="progress progress-striped active">
									  <div class="progress-bar" style="width: 83%"></div>
									</div>							
								</div>
							</div>
						</div>
						<div class="panel-footer">
						<div class="btn-group pull-right">
							<a href="#" class="btn btn-primary btn-sm">Recruitment Done</a>
							<a href="#" class="btn btn-default btn-sm">Print Interview</a>
						</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>



			</div>
		</div>
	</div>
	
</template>