<template name="layout">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DataGen HRIS</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float:right;">
      
      <form class="navbar-form navbar-left" role="search" >
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</nav>
<main>
	<div class="main-wrapper">
		<div class="panel-sidebar-1">
		<div class="logo"><img src="/images/logo.png"></div>
			<ul>
				<li>
					Human Resources
					<ul><li><a href="/view-employees">Employees</a></li></ul>
				</li>
				<li>
					Recruitment
					<ul>
						<li><a href="/view-positions">Job Positions</a></li>
						<li><a href="/view-applications">Applications</a></li> 
					</ul>
				</li>
				<li>
					Expenses
					<ul><li><a href="/expenses">Expenses</a></li></ul>
				</li>
				<li>
					Appraisal
					<ul>
						<li><a href="/appraisal">Appraisals</a></li>
						<li><a href="/interview-request">Interview Requests</a></li>
					</ul>
				</li>
				<li>
					Configuration
					<ul>
						<li><a href="/employee-tags">Employee Tags</a></li>
						<li><a href="/departments">Departments</a></li>
						<li><a href="/expense-categories">Expense Categories</a></li>
						<li><a href="/appraisal-plans">Aprraisal Plans</a></li>
						<li>
							Recruitment
							<ul>
								<li><a href="/view-stages">Stages</a></li>
								<li><a href="/view-degrees">Degrees</a></li>
								<li><a href="/view-source-applicants">Source of Applicants</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="panel-body-1">
			<div class="title-bar">
				<h2>HRIS</h2>
				<h5>Human Resource Information System</h5>
			</div>
			<div class="main-body">
				<div>{{> yield}}</div>
			</div>
		</div>
	</div>
</main> 

</template>