<template name="appraisal">
<div class="expenses-wrapper">
	<div class="page-title">
		<div class="title col-sm-2">Appraisal</div>
		<div class="col-sm-10 btn-group" style="margin-top:5px;">
		    <a href="#" class="btn btn-danger btn-sm">create</a>
		    <a href="#" class="btn btn-default btn-sm">import</a>
		  </div>
	</div>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th><input type="checkbox"></th>
      <th>Employee</th>
      <th>Plan</th>
      <th>Appraisal Deadline</th>
      <th>Appreciation</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox"></td>
      <td>Des Nigellus</td>
      <td>Manager's Appraisal Plan</td>
      <td>January 2, 2016</td>
      <td></td>
      <td>New</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Xander Faron</td>
      <td>Manager's Appraisal Plan</td>
      <td>January 3, 2016</td>
      <td></td>
      <td>New</td>
    </tr>
    <tr class="info">
      <td><input type="checkbox"></td>
      <td>Trey Cyrus</td>
      <td>Manager's Appraisal Plan </td>
      <td>February 2, 2016</td>
      <td></td>
      <td>New</td>
    </tr>
    <tr class="success">
      <td><input type="checkbox"></td>
      <td>Masterman Benton</td>
      <td>Manager's Appraisal Plan</td>
      <td>January 12, 2016</td>
      <td></td>
      <td>In Progress</td>
    </tr>
    <tr class="danger">
      <td><input type="checkbox"></td>
      <td>Wilfred Isaac</td>
      <td>Manager's Appraisal Plan</td>
      <td>February 22, 2016</td>
      <td></td>
      <td>In Progress</td>
    </tr>
    <tr class="warning">
      <td><input type="checkbox"></td>
      <td>Frank Sequoia</td>
      <td>Manager's Appraisal Plan</td>
      <td>January 25, 2016</td>
      <td></td>
      <td>New</td>
    </tr>
    <tr class="active">
      <td><input type="checkbox"></td>
      <td>Whitney Evander</td>
      <td>Manager's Appraisal Plan</td>
      <td>January 9, 2016</td>
      <td></td>
      <td>In Progress</td>
    </tr>
  </tbody>
</table>
</div>
</template>