<template name="interview-request">
<div class="expenses-wrapper">
	<div class="page-title">
		<div class="title col-sm-3">Interview Requests</div>
		<div class="col-sm-9 btn-group" style="margin-top:5px;">
		    <a href="#" class="btn btn-danger">create</a>
		    <a href="#" class="btn btn-default">import</a>
		  </div>
	</div>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th><input type="checkbox"></th>
      <th>Deadline Date</th>
      <th>Appraisal Form</th>
      <th>Interviewer</th>
      <th>Employee to evaluate</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox"></td>
      <td>January 2, 2016 08:00:00</td>
      <td>Employee Appraisal Form</td>
      <td>Administrator</td>
      <td>Des Nigellus</td>
      <td>New</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>March 23, 2016 11:30:00</td>
      <td>Employee Appraisal Form</td>
      <td>Administrator</td>
      <td>Xander Faron</td>
      <td>New</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>February 12, 2016 08:08:00</td>
      <td>Employee Appraisal Form</td>
      <td>Administrator</td>
      <td>Trey Cyrus</td>
      <td>New</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>March 22, 2016 07:45:00</td>
      <td>Employee Appraisal Form</td>
      <td>Administrator</td>
      <td>Masterman Benton</td>
      <td>In Progress</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>January 29, 2016 05:30:00</td>
      <td>Employee Appraisal Form</td>
      <td>Administrator</td>
      <td>Wilfred Isaac</td>
      <td>In Progress</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>February 2, 2016 08:00:00</td>
      <td>Employee Appraisal Form</td>
      <td>Administrator</td>
      <td>Frank Sequoia</td>
      <td>New</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>April 15, 2016 13:30:00</td>
      <td>Employee Appraisal Form</td>
      <td>Administrator</td>
      <td>Whitney Evander</td>
      <td>In Progress</td>
    </tr>
  </tbody>
</table>
</div>
</template>