<template name="source">
<div class="expenses-wrapper">
	<div class="page-title">
		<div class="title col-sm-3">Source of Applicants</div>
		<div class="col-sm-9 btn-group" style="margin-top:5px;">
		    <a href="#" class="btn btn-danger btn-sm">create</a>
		    <a href="#" class="btn btn-default btn-sm">import</a>
		  </div>
	</div>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th><input type="checkbox"></th>
      <th>LiknedIn</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox"></td>
      <td>Monster</td>
    </tr>
     <tr>
      <td><input type="checkbox"></td>
      <td>Word of Mouth</td>
    </tr>
     <tr>
      <td><input type="checkbox"></td>
      <td>Company Website</td>
    </tr>
  </tbody>
</table>
</div>
</template>