<template name="stages">
<div class="expenses-wrapper">
	<div class="page-title">
		<div class="title col-sm-3">Stages</div>
		<div class="col-sm-9 btn-group" style="margin-top:5px;">
		    <a href="#" class="btn btn-danger btn-sm">create</a>
		    <a href="#" class="btn btn-default btn-sm">import</a>
		  </div>
	</div>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th><input type="checkbox"></th>
      <th>Name</th>
      <th>Specific in to a Department</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox"></td>
      <td>Initial Qualification</td>
      <td></td>
    </tr>
     <tr>
      <td><input type="checkbox"></td>
      <td>First Interview</td>
      <td></td>
    </tr>
     <tr>
      <td><input type="checkbox"></td>
      <td>Second Interview</td>
      <td></td>
    </tr>
     <tr>
      <td><input type="checkbox"></td>
      <td>Contract Proposed</td>
      <td></td>
    </tr>
     <tr>
      <td><input type="checkbox"></td>
      <td>Contract Signed</td>
      <td></td>
    </tr>
     <tr>
      <td><input type="checkbox"></td>
      <td>Refused</td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
</template>